services:
  - type: web
    name: sgi-erp
    env: python
    buildCommand: "./build.sh"
    startCommand: "gunicorn core.wsgi:application"
    plan: free
    envVars:
      - key: DEBUG
        value: "False"
      - key: SECRET_KEY
        generateValue: true
      - key: DATABASE_URL
        value: "sqlite:///db.sqlite3"